<html lang="en">
  <head>

    <link rel="stylesheet" href="/css/pen.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/doodlepen-favicon.png">
    <meta name="theme-color" content="#418a23">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <title>Doodle Pen : An Online Realtime IDE</title>

  </head>
  <body onload="render(<%if(!view){%><%}else{%><%=view%><%}%>)">

    <!-- Navbar Section -->
    <div class="row no-gutters">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light" id="nav">
          <a class="navbar-brand" href="#"><img id="logo" src="assets/logo-doodlepen.png" class="img-responsive" width="200" alt="Doodle Pen" title="Doodle Pen: An Online Realtime IDE"></a><span id="master">A Pen by Paras Aggarwal and Aarti Verma</span>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link"><button type="button" class="btn code-btn" id="code-btn1" data-toggle="modal" data-target="#linkModal"><i class="fas fa-cloud"></i> &nbsp;Save</button></a>
              </li>

              <li class="nav-item">
                <div class="dropdown show">
                  <a class="nav-link" id="dropdownChangeView" data-toggle="dropdown" aria-expanded="false"><button class="btn  dropdown-toggle code-btn" id="code-btn3"><i class="fas fa-eye"></i> &nbsp;Change View</button></a> 

                  <!-- Change View Dropdown -->
                  <div class="dropdown-menu" aria-labelledby="dropdownChangeView">
                    <a class="dropdown-item" href="#" onclick="changeView(1)" id="wide-screen"><i class="fas fa-angle-left"></i> &nbsp;Left</a>

                    <a class="dropdown-item" href="#" onclick="changeView(2)" id="wide-screen"><i class="fas fa-angle-right"></i> &nbsp;Right</a>

                    <a class="dropdown-item" href="#" onclick="changeView(3)"><i class="fas fa-angle-up"></i> &nbsp;Top</a>
                    
                    <a class="dropdown-item" href="#" onclick="changeView(2)" id="short-screen"><i class="fas fa-angle-down"></i> &nbsp;Bottom</a>

                    <div class="dropdown-divider"></div>
                    
                    <a class="dropdown-item" href="#" onclick="lowVision()"><i class="fas fa-moon"></i> &nbsp;Dark View</a>

                    <a class="dropdown-item" href="#" onclick="fullVision()"><i class="fas fa-sun"></i> &nbsp;Light View</a>
                  </div>
                </div>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/login"><button class="btn code-btn" id="code-btn4"><i class="fas fa-sign-in-alt"></i> &nbsp;Log in</button></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/register"><button class="btn code-btn" id="code-btn5"><i class="fas fa-user-plus"></i> &nbsp;Sign up</button></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- Link Modal -->
    <div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div id="saved-link">
              <div class="alert alert-Success" role="alert">Your code is saved as:</div>
              <div id="resultLink">
                <div class="alert alert-dark" role="alert" data-toggle="tooltip" data-placement="bottom" title="Click to copy">
                  <div id="showData">https://doodlepen.herokuapp.com/<span id="link"></span></div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>

    <!-- Editor Section -->
    <div class="row no-gutters" id="main-row">
      <div class="col-md-4" id="editor-area">

        <!-- html editor -->
        <div id="html-box">
          <div class="heading" id="heading1">HTML</div>
          <div class="editor" id="html-editor" name="html" onkeyup="render()"><%if(!data){%><%}else{%><%=data%><%}%></div>
        </div>
        
        <!-- css editor -->
        <div id="css-box">
          <div class="heading" id="heading2">CSS</div>
          <div class="editor" id="css-editor" name="css" onkeyup="render()"><%if(!data1){%><%}else{%><%=data1%><%}%></div>
        </div>  

        <!-- js editor -->
        <div id="js-box">
          <div class="heading" id="heading3">JS</div>
          <div class="editor" id="js-editor" name="js" onkeyup="render()"><%if(!data2){%><%}else{%><%=data2%><%}%></div>
        </div>
      </div>

      <!-- Preview Section -->
      <div class="col-md-8" id="output">
        <div class="row no-gutters">
          <div class="heading" id="heading4">Result</div>
          <iframe class="preview" id="preview"></iframe>
        </div>
      </div>
    </div>

    <!-- Footer Section -->
    <div class="row no-gutters" id="console-bar">
        <a class="nav-link" href="#"><button class="btn btn-outline-success" data-toggle="modal" data-target="#consoleModal"><i class="fas fa-terminal"></i> &nbsp;Console</button></a>
      <div id="saved-link"></div> 
    </div>

    <!-- Console Modal -->
    <div class="modal fade" id="consoleModal" tabindex="-1" role="dialog" aria-labelledby="consoleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel"><i class="fas fa-terminal"></i> &nbsp;Console Window</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="console-log">
              <p id="console-window"></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Ace Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js"></script>
    <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ext-emmet.js"></script>    
    <script src="js/pen.js"></script>
  </body>
</html>