<html>
    <head>
        <title>
            Page not found | Doodle Pen: An Online IDE by Paras Aggarwal
        </title>
            <style>
                #errorNumber{font-family:'Merriweather',serif;font-size:8rem;margin-top:10%}#errorName{font-family:'Josefin Sans',sans-serif;font-size:2rem}#home-btn{font-family:'Kalam',cursive;background-color:#4ca77b;border-color:#4ca77b}@media screen and (max-width:500px){#header{margin-bottom:17%;margin-top:10%;font-size:2rem}#errorNumber{font-size:6rem}#errorName{font-size:1.8rem}}
            </style>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="theme-color" content="#4ca77b">
            <link rel="icon" href="assets/dockurl-favicon.png">
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <link href="https://fonts.googleapis.com/css?family=Merriweather:900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    </head>
    <body bgcolor="#fff">
        <center>
        <div id="errorNumber">404</div>
        <div id="errorName">Error Occured! - Page not found</div><br>
        <a href="/"><button id="home-btn" class="btn btn-lg btn-success">DoodlePen</button></a>
        </center>
    </body>
</html>